<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <title>Carta de Martin</title>
</head>

<body>
    <h1>❤️ ¡Feliz San Valentín! ❤️</h1>
    <div class="container">
        <div class="envelope-wrapper ">
            <div class="envelope">
                <div class="letter">
                    <div class="text">
                        <strong>Querida Karla Francisca!</strong>
                        <p>
                            Hoy es <strong>San Valentín</strong>, el día oficial del <em>amor</em> y la
                            <em>amistad</em>. Por mi parte, quise prepararte algo bastante especial y distinto.
                            Desarrollé esta web, la cual alojará mis más profundas cartas de amor dedicadas a ti.
                            Lógicamente, no está de más decirte que te agradezco por todo el amor que me das día a día.
                            Eres una novia increíble, y me siento muy afortunado de que mi camino se haya cruzado con el
                            tuyo. Perdón por los malos ratos; como te dije en la mañana, estoy dispuesto a seguir
                            creciendo una eternidad junto a ti, a pesar de todos los obstáculos que tengamos que
                            enfrentar. Yo tambien <strong>Te amo con todo mi Corazon</strong> y trabajaré en mis errores
                            para que nuestra relación pueda florecer y permanecer en el tiempo, como Loki. (Esta página es una demo que irá cambiando con el tiempo.)<br> Tu programador enamorado. <br> <span
                                style="font-size: 0.9em; color: grey;">PD: Sin ti no soy nadie</span> <br>
                            <code>"Eres lo mejor que me ha pasado en la vida."</code>
                        </p>
                    </div>
                </div>
            </div>
            <div class="heart"></div>
            <div class="tap-right"></div>
            <div class="tap-left"></div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="audio-container">
        <audio id="audioPlayer" controls>
            <source id="audioSource" src="static/img/musica3.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
    <script src="static/js/script.js"></script>
</body>

</html>